<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">首页</a></li>
        <li class="active"><a href="#">增加</a></li>
        <li class="active"><a ui-sref="c">图表</a></li>
       <li class="active"><a ui-sref="dengl">退出</a></li>
        <li class="active"><a ui-sref="daohang">测试:张三</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<!--<table class="table table-condensed">-->
  <!--<tr  ng-repeat="x in data">-->
    <!--<td>{{x.title}}</td>-->
    <!--<td>{{x.content}}</td>-->
  <!--</tr>-->
<!--</table>-->
  <form role="form" class="ng-pristine ng-valid" style="margin-top:-230px;margin-left:-139px;">
    <div class="form-group">
      <input type="text" class="form-control input-lg"  id="feedbackinput" placeholder="title" ng-model="updata.summary">
    </div>
    <div class="form-group">
      <textarea class="form-control input-lg" id="feedbackcontent" name="feedbackcontent" rows="5"  placeholder="content" ng-model="updata.description"></textarea>
    </div>
  </form>
  <!--<input ng-model="updata.title" type="text" />-->
<!--<input ng-model="updata.content" type="text" />-->
  <button type="submit" class="btn btn-primary" ng-click="add()" style="float:right; margin-right:170px;margin-top:340px;">save</button>
</div>

